@import '_constants';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: $white;
  text-align: center;
  font-family: 'Lato';
  font-weight: 300;
}

::selection {
  background: $light_gray;
}

::-moz-selection {
  background: $light_gray;
}

a {
  color: $dark_gray;
  text-decoration: none;
}

a:hover, a:visited:hover {
  color: $dark_gray;
  transition: all 200ms ease;
}

a:visited {
  color: $dark_gray;
  text-decoration: none;
}

button {
  margin: 10px;
  padding: 10px 50px;
  border: 2px solid $white;
  background-color: transparent;
  color: $white;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: all 300ms ease;
}

button:hover {
  background-color: $white;
  color: $dark;
}

.title {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.content {
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 300;
  line-height: 200%;
}

#main {
  height: 100vh;
  padding: 0;
  color: $white;
  text-transform: uppercase;

  .bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(300deg, $fancy_blue, $fancy_blue, 50%, $fancy_red, 60%, $fancy_red);
    z-index: -1;

    .left-trail {
      position: absolute;
      bottom: -7px;
      left: 0;
      width: 30%;
    }

    .right-trail {
      position: absolute;
      bottom: -10px;
      right: 0;
      width: 50%;
    }
  }
  
  .title {
    font-size: 5em;
    padding-top: 30vh;
    img {
      margin-top: -0.26em;
      height: 1em;
    }
  }

  .subtitle {
    font-size: 1.5em;

    .tagline {
      font-weight: 100;
      letter-spacing: 2px;
    }

    .info {
      margin-top: 5vh;
      margin-bottom: 5vh;
      letter-spacing: 5px;
    }
  }
}

#about {
  padding: 80px 15vw;
  background: white;
  color: $gray;

  .title {
    color: $fancy_red;
  }
}

#sponsors {
  padding: 80px 15vw;
  color: $white;
  background: $fancy_blue;

  a {
    color: $light;
  }

  text-align: center;
  .content {

    img {
      height: 10vw;
      width: auto;
      display: inline-block;
      vertical-align: middle;
      margin: 16px;
    }
  }
}

#faq {
  padding: 80px 20px 20px 20px;
  background: $white;
  color: $gray;

  .title {
    color: $fancy_blue;
    margin-bottom: 1.25em;
  }

  .content {

    .row {
      padding: 0 10vw;
      text-align: left;

      .col-md-6 {
        margin-bottom: 50px;

        .question {
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 700;
          line-height: 150%;
          margin-bottom: .9em;
        }

        .answer {
          line-height: 150%;
          letter-spacing: .5px;
        }
      }
    }
  }
}

footer {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 30px 5vw 37px 5vw;
  background: $fancy_red;
  color: $white;
  position: relative;

  .col-sm-6 {
    margin-top: 10px;
  }

  .icons {

    i {
      font-size: 1.25em;
      padding: 0 2px;
    }
  }

  a {
    color: $white;
    font-size: .75em;
    display: inline-block;
  }

  a:hover, a:visited:hover {
    color: $white;
    text-decoration: none;
  }

  #link {
    color: $white !important;
    font-size: 100%;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .plane {
    position: relative;
    right: 10px;
    top: -3px;
    height: 20px;
  }
}

@media only screen and (max-width: 1250px) {
  
  #employers {
    
    .bg {
      display: none;
    }
  }
}

@media only screen and (max-width: 989px) {
  
  #exhibitors {
    
    .bg {
      display: none;
    }
  }
}

@media only screen and (max-width: 755px) {

  footer {

  }
}

@media only screen and (max-width: 435px) {

  button {
    padding: 10px 30px;
    font-size: 1.2em;
  }

  .title {
    font-size: 2.2em;
  }

  #main {

    .subtitle {

      .tagline {
        font-size: .9em;
        letter-spacing: 1px;
      }

      .info {
        font-size: 1.25em;
        letter-spacing: 3px;
      }
    }
  }

  #about {
    padding: 80px 20px;
  }

  #sponsors {
    padding: 80px 20px;
  }

  footer {
    font-size: .9em;
  }
}

@media only screen and (max-width: 330px) {

  button {
    padding: 10px 25px;
    font-size: 1em;
  }

  .title {
    font-size: 2em;
  }

  #main {

    .subtitle {

      .tagline {
        font-size: .85em;
        letter-spacing: 1px;
      }

      .info {
        font-size: 1.25em;
        letter-spacing: 3px;
      }
    }
  }

  footer {
    font-size: .9em;
  }
}

@media only screen and (max-height: 435px) {
  #main {
    height: 120vh;
  }
}