.left {
  text-align: left; }

.right {
  text-align: right; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  background: #ffffff;
  text-align: center;
  font-family: 'Lato';
  font-weight: 300; }

::selection {
  background: #bdc3c7; }

::-moz-selection {
  background: #bdc3c7; }

a {
  color: #394045;
  text-decoration: none; }

a:hover, a:visited:hover {
  color: #394045;
  transition: all 200ms ease; }

a:visited {
  color: #394045;
  text-decoration: none; }

button {
  margin: 10px;
  padding: 10px 50px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: all 300ms ease; }

button:hover {
  background-color: #ffffff;
  color: #547a82; }

.title {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 25px; }

.content {
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 300;
  line-height: 200%; }

#main {
  height: 100vh;
  padding: 0;
  color: #ffffff;
  text-transform: uppercase; }
  #main .bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(300deg, #76ded9, #76ded9, 50%, #e76148, 60%, #e76148);
    z-index: -1; }
    #main .bg .left-trail {
      position: absolute;
      bottom: -7px;
      left: 0;
      width: 30%; }
    #main .bg .right-trail {
      position: absolute;
      bottom: -10px;
      right: 0;
      width: 50%; }
  #main .title {
    font-size: 5em;
    padding-top: 30vh; }
    #main .title img {
      margin-top: -0.26em;
      height: 1em; }
  #main .subtitle {
    font-size: 1.5em; }
    #main .subtitle .tagline {
      font-weight: 100;
      letter-spacing: 2px; }
    #main .subtitle .info {
      margin-top: 5vh;
      margin-bottom: 5vh;
      letter-spacing: 5px; }

#about {
  padding: 80px 15vw;
  background: white;
  color: #74767d; }
  #about .title {
    color: #e76148; }

#sponsors {
  padding: 80px 15vw;
  color: #ffffff;
  background: #76ded9;
  text-align: center; }
  #sponsors a {
    color: #a2d4ab; }
  #sponsors .content img {
    height: 10vw;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 16px; }

#faq {
  padding: 80px 20px 20px 20px;
  background: #ffffff;
  color: #74767d; }
  #faq .title {
    color: #76ded9;
    margin-bottom: 1.25em; }
  #faq .content .row {
    padding: 0 10vw;
    text-align: left; }
    #faq .content .row .col-md-6 {
      margin-bottom: 50px; }
      #faq .content .row .col-md-6 .question {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: .9em; }
      #faq .content .row .col-md-6 .answer {
        line-height: 150%;
        letter-spacing: .5px; }

footer {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 30px 5vw 37px 5vw;
  background: #e76148;
  color: #ffffff;
  position: relative; }
  footer .col-sm-6 {
    margin-top: 10px; }
  footer .icons i {
    font-size: 1.25em;
    padding: 0 2px; }
  footer a {
    color: #ffffff;
    font-size: .75em;
    display: inline-block; }
  footer a:hover, footer a:visited:hover {
    color: #ffffff;
    text-decoration: none; }
  footer #link {
    color: #ffffff !important;
    font-size: 100%;
    font-weight: 700;
    letter-spacing: 2px; }
  footer .plane {
    position: relative;
    right: 10px;
    top: -3px;
    height: 20px; }

@media only screen and (max-width: 1250px) {
  #employers .bg {
    display: none; } }
@media only screen and (max-width: 989px) {
  #exhibitors .bg {
    display: none; } }
@media only screen and (max-width: 435px) {
  button {
    padding: 10px 30px;
    font-size: 1.2em; }

  .title {
    font-size: 2.2em; }

  #main .subtitle .tagline {
    font-size: .9em;
    letter-spacing: 1px; }
  #main .subtitle .info {
    font-size: 1.25em;
    letter-spacing: 3px; }

  #about {
    padding: 80px 20px; }

  #sponsors {
    padding: 80px 20px; }

  footer {
    font-size: .9em; } }
@media only screen and (max-width: 330px) {
  button {
    padding: 10px 25px;
    font-size: 1em; }

  .title {
    font-size: 2em; }

  #main .subtitle .tagline {
    font-size: .85em;
    letter-spacing: 1px; }
  #main .subtitle .info {
    font-size: 1.25em;
    letter-spacing: 3px; }

  footer {
    font-size: .9em; } }
@media only screen and (max-height: 435px) {
  #main {
    height: 120vh; } }

/*# sourceMappingURL=style.css.map */
